{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{list.title}}</h2>
    <div style="text-align: center; font-weight: bold; font-size: large;">
        {% for message in messages %}
        {{message}}
        {% endfor %}
    </div>
    <hr>
        <div style="display: flex;">
            <div>
                <img src="{{list.image}}" style="width:300px; height:100%;" alt="{{list.title}}">
            </div>
            <div style="display: flex; flex-direction: column;">
                {% if list.creator == user %}
                    {% if list.winner is None %}
                        <form action="{% url 'winner' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="item" value="{{list.id}}">
                            <button class="btn btn-primary" style="margin-left: 40px;">Close Bid</button>
                        </form>
                    {% else %}
                        <p style="margin-left: 40px;"> You have closed this bid <br> Winner: <b>{{list.winner}}</b></p>
                    {% endif %}
                {% endif %}

                {% if list.winner %}
                    {% if user == list.winner %} <!--smt is wrong here-->
                        <p style="margin-left: 40px;"> You have won this bid!</p>
                    {% endif %}
                {% endif %}

                <ul style="font-family: sans-serif; list-style-type: none;">
                    {% if list.active == True %}
                    <li style="margin-top: 10px; font-weight: bold;">Current Bid: ${{list.price}}</li>
                    {% else %}
                    <li style="margin-top: 10px; font-weight: bold;">Purchased Price: ${{list.price}}</li>
                    {% endif %}
                    <li style="margin-top:16px">Description: {{list.description}}</li>
                    <li style="margin-top:16px">Category: {{list.category}}</li>
                    <li style="font-size: smaller; font-weight: 10;margin-top: 30px;">Created at {{list.time}} by <u>{{list.creator}}</u></li>
                    {% if list.active == True %}
                    <li style="font-size: smaller; font-weight: 10;margin-top: 20px; color: red;">Auction is active</li>
                    {% else %}
                    <li style="font-size: smaller; font-weight: 10;margin-top: 70px;">Auction has ended</li>
                    <li style="font-size: smaller; font-weight: 10; margin-top: 5px;margin-bottom: -10px;">Bought by {{list.winner}} for ${{list.price}}</li>
                    {% endif %}
                </ul>
                {% if user.is_authenticated %}
                    {% if list.active == True %}
                <div style="margin-left: 40px; margin-top: 20px;">
                    <div>
                        <form action="{% url 'edit_watchlist' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="item" value="{{list.id}}">
                            {% if list not in user.watchlist.all %}
                            <input type="hidden" name="function" value="add">
                            <button type="submit" class = "btn btn-primary">Add to watchlist</button>
                            {% else %}
                            <input type="hidden" name="function" value="remove">
                            <button type="submit" class = "btn btn-primary" style="background-color: red;">Remove from watchlist</button>
                            {% endif %}
                        </form>
                    </div>
                    <div style="margin-top: 25px;">
                        <form action="{% url 'bid' list.id %}" method="post">
                            {% csrf_token %}
                            <input type="number" name ="bid" step ="0.01" placeholder="Enter bidding price" min="0">
                            <button type="submit" class = "btn btn-primary">Bid</button>
                        </form>
                    </div>
                </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <hr>
        <div>
            <h3>Comments:</h3>
            {% for comment in comments %}
            <div>
                <p>{{comment.user}}: {{comment.comment}}</p>
                <p style="font-size: 12px;">{{comment.time}}</p>
                <hr>
            </div>
            {% endfor %}
            {% if user.is_authenticated %}
            <form action="{% url 'comment' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="item" value="{{list.id}}">
                <input type="text" name="comment" placeholder="Enter Comment">
                <button class="btn btn-primary">Add Comment</button>
            </form>
            {% endif %}
        </div>
    <hr>

{% endblock %}